beautifulsoup4
google-adk
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pinecone
google-cloud-aiplatform
python-dotenv
requests
litellm
lxml
PyGithub
pytz
pandas
matplotlib
seaborn
